<div class="container-1">
  <div clas="form-container">
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search Your Dream Car</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
    <button mat-raised-button color="warn">View All Cars</button>
  </form>
  </div>
  </div>