
.container-1
{
  background-color: aquamarine;
  
  background: url("../../../../src/home_wallpaper.jpg");
  max-width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}


.example-form {
  text-align: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 30%;
  padding-top: 10%;
}

.example-full-width {
  width: 100%;
  
  border-radius: 5%;
  background-color: aliceblue;
 border:2px solid rgb(237, 156, 156);
}