
<div class="container-1">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Search Your Dream Car</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    
    
        <button mat-raised-button color="warn">View All Cars</button>
      </form>
      </div>

      <div class="carscontainer">
        <table class="table">
          <tbody>
            <tr>
              <td>
                <div class="card">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#!" class="btn btn-primary">Button</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>