<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Unverified Cars">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Car Id</th>
                    <th>Car Brand</th>
                    <th>Car Model</th>
                    <th>Car Manufacturing Year</th>
                    <th>Car Owner</th>
                    <th>Total Kms Driven</th>
                    <th>Car Price</th>
                    <th>Approve/Reject</th>
                </tr>
            </thead>
            <tbody *ngFor="let car of Cars">
                <tr *ngIf="car.isapproved!=true" >
                    <td>{{car.id}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.carModel}}</td>
                    <td>{{car.year}}</td>
                    <td>{{car.owner}}</td>
                    <td>{{car.kms}}</td>
                    <td><input matInput #carprice></td>
                    
                    <td><button class="approverejectbutton" mat-raised-button color="accent" (click)="onapprove(car.id,carprice.value)">Approve Car</button>
                    <br><br>
                    <button mat-raised-button class="approverejectbutton" color="warn" (click)="onreject(car.id)">Reject Car</button>
                </td>
                </tr>
            </tbody>
          </table>
    </mat-tab>


    <!--Cars Available to Sell-->
    <mat-tab label="Available Cars To Sell">'
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Car Brand</th>
                    <th>Car Name</th>
                    <th>Car Manufacturing Year</th>
                    <th>Total Kms Driven</th>
                    <th>Owner Name</th>
                    <th>Owner Contact Details</th>
                    <th>Owner Address</th>
                    <th>Car Price</th>
                </tr>
            </thead>
            <tbody *ngFor="let notsold of Cars">
                <tr *ngIf="notsold.issold!=true&&notsold.isapproved==true">
                    <td>{{notsold.brand}}</td>
                    <td>{{notsold.carModel}}</td>
                    <td>{{notsold.year}}</td>
                    <td>{{notsold.kms}}</td>
                    <td>{{notsold.user.fname}} {{notsold.user.lname}}</td>
                    <td>{{notsold.mobilenumber}}</td>
                    <td>{{notsold.user.address}}</td>
                    <td>{{notsold.carprice}}</td>
                    <td><button mat-raised-button color="accent" (click)="markAsSold(notsold.id)">Mark As Sold</button></td>
                </tr>
            </tbody>
        </table>
    </mat-tab>


    <!--Cars that are sold-->
    <mat-tab label="Sold-Cars">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Car Brand</th>
                    <th>Car Name</th>
                    <th>Car Manufacturing Year</th>
                    <th>Total Kms Driven</th>
                    <th>Owner Name</th>
                    <th>Owner Contact Details</th>
                    <th>Owner Address</th>
                </tr>
            </thead>
            <tbody *ngFor="let soldcars of Cars">
                <tr *ngIf="soldcars.issold!=false">
                    <td>{{soldcars.brand}}</td>
                    <td>{{soldcars.carModel}}</td>
                    <td>{{soldcars.year}}</td>
                    <td>{{soldcars.kms}}</td>
                    <td>{{soldcars.user.fname}} {{soldcars.user.lname}}</td>
                    <td>{{soldcars.mobilenumber}}</td>
                    <td>{{soldcars.user.address}}</td>
                </tr>
            </tbody>
        </table>
    </mat-tab>
</mat-tab-group>



