<div class="intro-container">
    <h3>
<h2>Welcome to <span class="decorate">CarTrading Tech</span></h2>
We are a multi-channel auto platform with coverage and presence across vehicle types and value-added services. Our platforms operate under several brands: CarWale, CarTrade, Shriram Automall, BikeWale, CarTradeExchange, Adroit Auto and AutoBiz. Through these platforms, we enable new and used automobile customers, vehicle dealerships, vehicle OEMs and other businesses to buy and sell their vehicles in a simple and efficient manner. Our vision is to create an automotive digital ecosystem which connects automobile customers, OEMs, dealers, banks, insurance companies and other stakeholders.
</h3>
</div>