mat-stepper
{
  background: url("../../../images/carkeys.jpg");
  max-width:100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
mat-form-field{
  background-color: rgb(167, 176, 184);
  border:1px solid rgb(175, 133, 133);
  color:rgb(67, 73, 77);
  border-radius: 8%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.example-full-width {
  width: 100%;
  
  border-radius: 5%;
  background-color: aliceblue;
 border:2px solid rgb(237, 156, 156);
}