<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
<p>
    <mat-toolbar color="primary">
      <span class="icon"><b>  &#9784; </b></span>
      <p>  </p>
      <span class="icon-name"><b class="font-effect-fire">   &Cfr;a&real; Trading.c&#9775;m</b></span>
      <span class="example-spacer"></span>
      <a class="nav-link" (click)="openlogin()"> LogIn   </a>
      <mat-icon>login</mat-icon>

      <span class="spacer"></span>

      <a class="nav-link" (click)="openSignup()"> SignUp   </a>
      <mat-icon>  account_circle</mat-icon>
      <span class="spacer"></span>

      <a> About   </a>
      <span class="spacer"></span>
      
      <a> Help   </a>
      <a mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </a>


      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="openlogin()" mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
        <button (click)="openSignup()" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Register</span>
        </button>
        <button mat-menu-item>
          <mat-icon>help</mat-icon>
          <span>Help Center</span>
        </button>
      </mat-menu>



    </mat-toolbar>
  </p>
 