<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
<p>
    <mat-toolbar>
      <span class="icon"><b>  &#9784; </b></span>
      <p>  </p>
      <span class="icon-name"><b class="font-effect-fire">   &Cfr;a&real; Trading.c&#9775;m</b></span>
      <span class="example-spacer"></span>

      
      <button *ngIf="!authservice.isloggedin()" mat-button (click)="openlogin()">LogIn</button>
      <mat-icon *ngIf="!authservice.isloggedin()">login</mat-icon>
      

      <button mat-button (click)="openSignup()" *ngIf="!authservice.isloggedin()">SignUp</button>
      <mat-icon *ngIf="!authservice.isloggedin()">account_circle</mat-icon>
      
      <button mat-button (click)="navigatetorole()"> Home   </button>
      
      <button mat-button [routerLink]="'/about'">About   </button>
      <button *ngIf="authservice.isloggedin()" mat-button (click)="logout()">Logout   </button>
      
      
      
      <button mat-button> Help   </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>


      <!--menu-->
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngIf="!authservice.isloggedin()" (click)="openlogin()" mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
        <button *ngIf="!authservice.isloggedin()" (click)="openSignup()" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Register</span>
        </button>
        <button mat-menu-item>
          <mat-icon>help</mat-icon>
          <span>Help Center</span>
        </button>
        <button *ngIf="authservice.isloggedin()" [routerLink]="'/user/sellcarstatus'" mat-menu-item>
          <mat-icon>info</mat-icon>
          <span>View Applied car status</span>
        </button>
        <button *ngIf="authservice.isloggedin()" (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>



    </mat-toolbar>
  </p>
 